#resultholder{
    position: relative;
    width:450px;
    height:286px;
}

#resultholder img{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#backgroundimage{
    position: relative;
    z-index: -1;
    width: 450px;
}
#backgroundimage2{

    width:450px;
    bottom:393px;
    position: relative;
    pointer-events: none;
}
.image1{
    width:65px;
    position: relative;
    bottom:227px;
    left:163px;
    
}

.image2{
    width:65px;
    position: relative;
    bottom:121px;
    left:271px;
}
.image3{
    width:65px;
    position: relative;
    bottom:115px;
    left:-73px;
}



